<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIX Challenge - Input your answer</title>
</head>
<body>
    <p>Context:</p>
    <p>Hackers have encrypted very important files owned by the Organisation using a key consisting of 5 words, sorted in alphabetical order seperated by dashes (-).
        They didn't do a very good job at hiding their tracks however, and have left some clues about these key words in some files on this computer. 
    </p>
    <p>Rules:</p>
    <p>1. No using inspect element on this webpage, however inspect element on other websites are allowed.</p>
    <p>2. Only the terminal is allowed to be used for the challenge, no other application (such as file explorer) may be used.</p>
</body>
</html>